<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
		<link rel="stylesheet" href="/static/css/stil.css" />
		<title>GVB prisustvo</title>
		<link rel="icon" href="/static/jpg/GVBfavikon.png" type="image/x-icon" />
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-item">
				<img class="slika" src="/static/jpg/GVBlogo.jpg" alt="GVBlogo" height=100%">
			</div>
			<div class="grid-item">
				<h2 class="prisutni">
					Ukupno prisutnih u Gimnaziji: <br />
				</h2>
				<h2 class="broj">
					{{ ukupno_prisutnih }}
				</h2>
			</div>
			<div class="grid-item" >
				<h2 id ="datum"></h2>
				<h2 id ="clock"></h2>
			</div>
		</div>
		<!-- pocetak dugmadi -->
		<div class="dugmad">
			{% for counter in counters %}

			<div
				class="{{ 'red' if counter.name.startswith('I-') else 'yellow' if counter.name.startswith('II-') else 'blue' if counter.name.startswith('III-') else 'green' if counter.name.startswith('IV-') else 'gray' }} bold brojaci centrirani-div okvir"
			>
				<p>{{ counter.name }} <br />{{ counter.count }}</p>
			</div>
			<form
				method="post"
				action="{{ url_for('Prijava', counter_name=counter.name) }}"
			>
				<button
					type="submit"
					class="{{ 'red' if counter.name.startswith('I-') else 'yellow' if counter.name.startswith('II-') else 'blue' if counter.name.startswith('III-') else 'green' if counter.name.startswith('IV-') else 'gray' }} button okvir"
				>
					Prijava
				</button>
			</form>
			<form
				method="post"
				action="{{ url_for('Odjava', counter_name=counter.name) }}"
			>
				<button type="submit" class="odjava okvir">Odjava</button>
			</form>

			{% endfor %}
		</div>

		<!-- Skripte za SocketIO -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

		<script>
			// Povežite se sa SocketIO serverom
			var socket = io.connect(
				"http://" + document.domain + ":" + location.port
			);
			//var socket = io.connect("http://192.168.1.101:5000");

			// Obrada događaja 'update'
			socket.on("update", function (data) {
				// Ažurirajte sadržaj stranice
				// data sadrži nove vrednosti brojača
				console.log(data);
				// Implementirajte logiku ažuriranja HTML-a prema vašim potrebama
				// Osveži celu stranicu nakon primanja update događaja
				location.reload();
			});

			//Funkcija za automatsko osvežavanje stranice na svakih 5 sekundi

			//setTimeout(function() {
			//      location.reload();
			//  }, 5000);
				
		function updateClock() {
			var now = new Date();
			var hours = now.getHours();
			var minutes = now.getMinutes();
			var seconds = now.getSeconds();

			hours = hours < 10 ? "0" + hours : hours;
			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;

			var timeString = hours + ":" + minutes + ":" + seconds;

			document.getElementById("clock").innerHTML = timeString;
  	}

		function updateDate() {
        var daysOfWeek = ["nedelja", "ponedeljak", "utorak", "sreda", "četvrtak", "petak", "subota"];
        var months = [
            "januar", "februar", "mart", "april", "maj", "jun",
            "jul", "avgust", "septembar", "oktobar", "novembar", "decembar"
        ];

        var now = new Date();
        var dayOfWeek = daysOfWeek[now.getDay()];
        var day = now.getDate();
        var month = months[now.getMonth()];
        var year = now.getFullYear();

        var dateString = dayOfWeek + ", " + day + ". " + month + " " + year + ".";
        document.getElementById("datum").innerHTML = dateString;
    }

  	setInterval(updateClock, 1000);
    setInterval(updateDate, 10000);

    updateClock();
    updateDate();
				
		</script>
	</body>
</html>
